*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/*social media header*/
.container-color {
    background-color: rgba(202, 194, 173, 0.966) !important;
}

.container-color-nav {
    background-color: rgba(68, 231, 155, 0.6) !important;
}

.social a {
    font-size: 1em;
    padding: 1rem;
}

.fa-facebook {
    color: #3b5998;
}
  
.fa-twitter {
color: #00aced;
}

.fa-google-plus-g {
color: #dd4b39;
}

.fa-instagram {
color: #517fa4;
}

.fa-youtube {
color: #bb0000;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-youtube:hover,
.fa-google-plus-g:hover,
.fa-twitter:hover {
  color: rgb(218, 160, 3);
}

/*Navigation*/

.nav-link{
    text-decoration: none;
    color: #000;
}

.nav-link:hover{
    color: rgba(252, 251, 249, 0.966);
}

/*Jumbotron header*/

.jumbotron-padding{
    margin-bottom: 0 !important;
}

.jumbotron-image{
    background-image: url(../images/3.jpg);
    background-size: cover;
    height: 41.2rem;
}


.jumbotron-text{
    color: rgb(255, 178, 62) !important;
    font-size: 5rem;
    margin-top: 2rem;
    font-family: 'Neucha', cursive;

}

.jumbotron-word{
    color: rgb(250, 100, 100);
}

.overlay-text{
    background-color: rgba(252, 246, 245, 0.5);
    padding: 5rem 2.5rem;
    font-size: 1.6rem;
    font-family: 'Neucha', cursive;
  
  
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  
}

h5{
    font-size: 1.8rem;
}

.overlay-width{
    width: 40%;
}

.overlay-position{
    margin-top: 12rem; 
}


/*What We Do Section*/

.container-text{
    font-family: 'Neucha', cursive;
    font-size: 1.3rem;
}

.about-padding{
    margin-top: 2rem;
}

.container-background{
    background-color: rgba(250, 67, 35, 0.89);
    height: 30rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 46vh);

}

.hr-line{
    width: 30%;
    margin-left: 34rem;
    background-color: rgb(218, 160, 3) !important;
}

.hr-text-line{
    width: 30%;
    margin-left: 10.5rem;
    background-color: rgb(218, 160, 3) !important;
}

.fa-car{
    color: rgba(200, 3, 218, 0.5);
    font-size: 2rem;
}

.fa-wrench{
    color: rgba(252, 246, 245, 0.5);
    font-size: 2rem;
}

.fa-laptop-medical{
    color: rgba(241, 184, 76, 0.5);
    font-size: 2rem;
}

/*Testimonials*/

.container-farbe{
    background-color: rgba(253, 117, 117, 0.9);
    margin-top: -4rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
    font-family: 'Neucha', cursive;



}

.container-testimonial{
    height: 40rem;
    clip-path: polygon(0 0, 100% 16vh, 100% 100%, 0 100%);
    margin-top: -16vh;

}

.testimonial-header{
    margin-top: 5rem;
}

.row-padding{
    margin-top: 10rem;
}

.carousel{
    margin-top: 5rem;
}

.carousel-indicators li{
    background: #cecece;
    border-radius: 50px;
    border-width: 3px;
}

.carousel-indicators>.active{
    background: #ce0000;
}

.client-desc{
    text-align: center;
    font-size: 1.5rem;
}

.client-name{
    font-size: 2rem;
    text-align: center;
}

.client-name span{
    font-weight: bold;
    color: #772419;
}

.client-img{
    padding: 1px;
    border: 2px solid #e20c89;
}

/*footer*/

.footer-container{
    background-color: #d6710c;
    color: #ffffff;
    height: 20rem;
    font-family: 'Neucha', cursive;
    font-size: 1.1rem;

}

.footer-padding{
    padding-top: 4rem;
}

.hr-footer-1{
    width: 50%;
    margin-left: 8rem;
    background-color: black;
}

.hr-footer-2{
    width: 50%;
    margin-left: 16rem;
    background-color: black;
}

.footer-span{
    color: rgb(41, 49, 37);
}


/*Gallery*/

.container-fluid-gallery{
    padding-top: 45px;
    background-color: rgb(248, 232, 187);
    height: 300vh;
}

.flex-column{
    max-width: 260px;
}

.img-margin{
    margin: 5px;
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
  
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@media (max-width: 22.5em){ /*360*/
    body,html{
        overflow-x: hidden;
    }

    .overlay-width{
        width: 90% !important;
    }

    .overlay-position{
        margin-top: 3rem !important;
    }

    .container-background{
        height: 57rem !important;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 127vh) !important;
    }

    .header-text{
        margin-bottom: 0rem !important;
    }

    .testimonial-header {
        margin-top: 5rem !important;
    }

    .hr-text-line{
        margin-left: 7.5rem !important;
    }

    .hr-line{
        margin-left: 7.5rem !important;
    }

    .hr-footer-1{
        margin-left: 5.2rem !important;
    }
    
    .hr-footer-2{
        margin-left: 5.2rem !important;
    }

    .footer-container{
        height: 32rem;
    }
}

@media (max-width: 23.4375em){ /*375*/
    body,html{
        overflow-x: hidden;
    }

    .overlay-width{
        width: 90% !important;
    }

    .overlay-position{
        margin-top: 3rem !important;
    }

    .container-background{
        height: 57rem !important;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 127vh) !important;
    }

    .header-text{
        margin-bottom: 0rem !important;
    }

    .hr-text-line{
        margin-left: 7.5rem !important;
    }

    .hr-line{
        margin-left: 7.5rem !important;
    }

    .hr-footer-1{
        margin-left: 5.7rem !important;
    }
    
    .hr-footer-2{
        margin-left: 5.2rem !important;
    }

    .footer-container{
        height: 32rem;
    }
}








@media (max-width: 25.6875em){ /*411px*/
    body,html{
        overflow-x: hidden;
    }

    .overlay-width{
        width: 100% !important;
    }

    .overlay-position{
        margin-top: 5rem !important;
    }

    .hr-line{
        margin-left: 8.5rem !important;
    }

    .container-background{
        height: 48rem !important;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
    }

    .container-testimonial{
        height: 39rem;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        margin-top: 0rem;
    }

    .header-text{
        margin-bottom: 6rem;
    }

    .testimonial-header {
        margin-top: 5rem !important;
    }

    .footer-container{
        height: 30rem;
    }

    .hr-footer-1{
        margin-left: 5.7rem !important;
    }
}

@media (max-width: 25.875em){
    body,html{
        overflow-x: hidden;
    }

    .overlay-width{
        width: 100% !important;
    }

    .overlay-position{
        margin-top: 3rem !important;
    }

    .hr-line{
        margin-left: 8.5rem !important;
    }

    .container-background{
        height: 48rem !important;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
    }

    .container-testimonial{
        height: 39rem !important;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
        margin-top: 0rem !important;
    }

    .header-text{
        margin-bottom: 6rem;
    }

    .footer-container{
        height: 30rem;
    }

    .hr-footer-1{
        margin-left: 5.7rem !important;
    }
}

 /*600px*/

@media (max-width: 37.5em){
    body,html{
        overflow-x: hidden;
    }

    .overlay-position{
        margin-top: 9rem;
    }

    .overlay-width{
        width: 67%;
    }

    .overlay-text{
        padding: 2rem 0.5rem;
    }

    .container-background{
        height: 33rem;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;

    }

    .hr-text-line{
        margin-left: 3.5rem;
    }

    .hr-line{
        margin-left: 12.5rem;
    }

    .hr-footer-1{
        margin-left: 2.7rem;
    }

    .hr-footer-2{
        margin-left: 6rem;
    }
}


@media (max-width: 48em) /*768*/{
    body,html{
        overflow-x: hidden;
    }

    .overlay-position{
        margin-top: 10rem;
    }

    .overlay-width{
        width: 67%;
    }

    .overlay-text{
        padding: 2rem 0.5rem;
    }

    .container-background{
        height: 34rem;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 36vh);
    }

    .testimonial-header {
        margin-top: 7rem;
    }

    .hr-line{
        margin-left: 16rem;
    }

    .hr-footer-1{
        margin-left: 3.6rem;
    }
    
    .hr-footer-2{
        margin-left: 7rem;
    }
}

@media (max-width: 64em) /*768*/{
    body,html{
        overflow-x: hidden;
    }

    .overlay-position{
        margin-top: 10rem;
    }

    .overlay-width{
        width: 67%;
    }

    .overlay-text{
        padding: 2rem 0.5rem;
    }

    .container-background{
        height: 26rem;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 39.6vh);
    }

    .container-testimonial{
        height: 40rem;
        clip-path: polygon(0 0, 100% 0vh, 100% 100%, 0 100%);
        margin-top: -1vh;
    }

    .testimonial-header {
        margin-top: 7rem;
    }

    .hr-line{
        margin-left: 16rem;
    }

    .hr-footer-1{
        margin-left: 3.6rem;
    }
    
    .hr-footer-2{
        margin-left: 7rem;
    }
}
/*


@media (max-width: 1024px){
    .jumbotron-text{
        transform: translateY(7rem);
    }

    .container-background{
        height: 35vh;
    
    }

    .container-testimonial{
        height: 40vh;
        clip-path: none;
        margin-top: 0rem;
    }
}

@media (max-width: 768px){

    .overlay-position{
        padding: 3rem 1.5rem;
        font-size: 1.2rem;

    }
    .container-background{
        height: 45vh;
    }

    .container-testimonial{
        height: 60vh;
    }
}


@media (max-width: 400px){

    .jumbotron-text{
        font-size: 3.5rem;
    }

    .overlay-position{
        margin-top: 10rem; 
    }
    .container-background{
        height: 90vh;
    }
}

@media (max-width: 576px) {
    .jumbotron-image{
        height: 30rem;
        background-size: cover;
    }

    .jumbotron-text{
        font-size: 4rem;
        margin-top: 2rem;
    
    }

    .overlay-text{
        background-color: rgba(252, 246, 245, 0.5);
        padding: 2rem 1rem;
        font-size: .7rem;
      
    }
    
    .overlay-position{
        margin-top: 4rem; 
    }

    .overlay-width{
        width: 65%;
    }

    .hr-line{
        width: 35%;
        margin-left: 8rem;
        background-color: rgb(17, 17, 17) !important;
    }
    
    .hr-text-line{
        width: 30%;
        margin-left: 8.5rem;
        background-color: rgb(36, 34, 28) !important;
    }

    .container-testimonial{
        height: 90vh;
        margin-top: -10.1vh;
    }

    .container-background{
        height: 100vh;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90vh);
    }

    .container-fluid-gallery{
        height: 240vh;
    }


    .footer-container{
        height: 65vh;
        font-size: 1.1rem;
    }

    .hr-footer-1{
        width: 10%;
        margin-left: 11rem;
    }
    
    .hr-footer-2{
        width: 20%;
        margin-left: 9.9rem;
    }
}

@media (max-width:320px){
    .jumbotron-text{
        margin-top: -7rem !important;
    }

    .overlay-position{
        margin-top: 2rem;
    }
}


*/

/*
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

*/
